<html>
    <head>
        <title>FotoBlog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Titre{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>FotoBlog</h1>
            {% block content %}{% endblock content %}
            {%  if user.is_authenticated %}
                <p>Vous êtes connecté en tant que {{ user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
                <p>Voulez-vous <a href="{% url 'password_change' %}">changer votre mot de passe ?</a></p>
            {% endif %}
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
